body h2{
    font-size: 25px;
    margin: 10px 0;
}
.new-note-form{
    max-width: 500px;
}

.modal-dark{
    background-color: #272c3a;
    color: aliceblue;
}

.no-notes-to-display{
    text-align: center;
    font-size: 1.1rem;
}