.hoverByCSS:hover{
    font-weight: 500;
    font-size: 0.98rem;
    color:blueviolet;
}

.airNotes-logo{
    color: whitesmoke;
    text-decoration: none;
}
.airNotes-logo:hover{
    color: aliceblue;
    text-decoration: none;
}